$color-primary: #CE1836;
$color-secondary: #009989;
$color-third: #EDB92E;
$color-fourth: #F85931;
$color-text: #292b2c;
.color-primary {
    color: $color-primary;
}

.color-secondary {
    color: $color-secondary;
}

.color-third {
    color: $color-third;
}

.color-fourth {
    color: $color-fourth;
}