@import 'typography';
@import 'branding';
html,
body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    position: relative;
}

a {
    transition: all 0.2s ease-in-out;
    color: $color-primary;
    text-decoration: none;
    &:visited {
        color: $color-primary;
    }
    &:hover,
    &:active {
        color: darken($color-primary, 15%);
        text-decoration: none;
    }
}

section {
    padding: 6rem 0;
}

.bg-color-dark {
    background-color: #f8f8f8;
}

.btn-secondary {
    cursor: pointer;
}

.wow {
    visibility: hidden;
}

// loader
#loading {
    background: #FFF;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 9999;
}

#loading-status {
    background-image: url(../images/ring.gif);
    background-position: center;
    background-repeat: no-repeat;
    position: fixed;
    width: 152px;
    height: 152px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

//Intro
#intro {
    background: url(../images/banner.jpg) no-repeat bottom center fixed;
    background-size: cover;
    text-align: center;
    color: #FFF;
    text-transform: uppercase;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, .6);
    height: 100vh;
    padding: 0;
    .inner {
        position: relative;
        top: 38%;
    }
    h1 {
        font-size: 2.5rem;
        font-weight: 700;
    }
    h2 {
        font-size: 1.5rem;
    }
    @media (min-width: 768px) {
        h1 {
            font-size: 5rem;
        }
        h2 {
            font-size: 2rem;
        }
    }
}

.social-media-heading {
    margin-top: 2.5rem;
}

.social-media {
    padding: 0;
    margin: 0;
    li {
        display: inline-block;
        margin-right: 5px;
        a {
            background: $color-text;
            text-align: center;
            display: block;
            width: 2.5rem;
            height: 2.5rem;
            line-height: 2.5rem;
            font-size: 1.25rem;
            color: #FFF;
            &:hover {
                background: $color-primary;
            }
        }
    }
}

// nav
#main-nav {
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}

.navbar {
    padding: 1rem 0;
}

.navbar-brand {
    text-transform: uppercase;
}

.navbar-light,
#main-nav {
    background-color: #fff;
}

.navbar .navbar-nav .nav-link {
    text-transform: uppercase;
}

.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.open,
.navbar-light .navbar-nav .open>.nav-link {
    color: $color-primary;
}

// skills
.skill {
    margin-bottom: 3rem;
    i {
        margin-bottom: 0.5rem;
    }
}

.chart-container {
    margin-top: 1rem;
    margin-bottom: 1rem;
    h4 {
        margin-top: 1rem;
    }
}

.skill-chart {
    max-width: 150px;
    max-height: 150px;
    margin: auto;
}

// recommendations
.carousel-indicators>li {
    background-color: #eceeef;
    &.active {
        background-color: $color-primary;
    }
}

.carousel-item>blockquote {
    margin-bottom: 3rem;
}

.recommendation-icon {
    margin-bottom: 1rem;
}

// portfolio
.portfolio-item {
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    margin-bottom: 3rem;
    a:hover {
        opacity: 0.8;
    }
}

// contact
#contact {
    background: url(../images/contact.jpg) no-repeat center center fixed;
    background-size: cover;
    color: white;
}

// footer
#footer {
    background: #181818;
    padding: 20px 0;
    color: #FFF;
}

@media (max-width: 767px) {
    #skills,
    #profile {
        text-align: center;
    }
}

.sticky.is-sticky {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
}