@import "branding";

.technologies-section {
  color: white;
  text-align: center;
  padding: 12rem 0 9rem 0;

  .technology-icons {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    .technology-icon {
      margin: 0 1rem 3rem 1rem;
    }
  }
}
